<!DOCTYPE HTML>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Jumbotron Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', path='/css/jumbotron.css') }}" rel="stylesheet">

        <script src="{{ url_for('static', path='/js/ws.js') }}"></script>
<!--        <script src="{{ url_for('static', path='/js/jquery-3.4.1.slim.min.js') }}"></script>-->
<!--        <script src="{{ url_for('static', path='/js/popper.min.js') }}"></script>-->
<!--        <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>-->

    </head>
    <body>
        <div id="sse">
            <form name="publish">
                <input type="text" name="message">
                <input type="submit" value="Send">
            </form>
            <a href="javascript:WebSocketTest()">Run WebSocket</a>
        </div>
        <div id="messages"><br></div>
    </body>
</html>